<template>
  <form v-on:submit.prevent="newPost">
    <p style="color: red;" v-if="isError">Error! Please retry.</p>
    <input
      style="margin-bottom: 0.5em;"
      placeholder="Subject"
      type="text"
      v-model="post.subject"
    />
    <input
      style="margin-bottom: 0.5em;"
      placeholder="Name"
      type="text"
      v-model="post.name"
    />
    <textarea
      style="margin-bottom: 0.5em;"
      placeholder="Comment"
      v-model="post.data"
    ></textarea>
    <div class="parent">
      <div class="child left">
        <input
          :disabled="isLoading"
          class="submit"
          type="submit"
          value="Reply"
        />
      </div>
      <div class="child right" style="margin-right: 1em; margin-top: 0.5em;">
        bbcode: b, u, i, url, ascii, code
      </div>
    </div>
  </form>
</template>
<script>
export default {
  data: function() {
    return {
      isError: false,
      isLoading: false,
      post: {
        subject: "",
        name: "",
        data: ""
      }
    };
  },
  methods: {
    async newPost() {
      localStorage.setItem("user", this.post.name);
      this.isLoading = true;
      const url = process.env.API_BASE + "/thread/0/";
      this.$axios
        .$post(url, this.post)
        .then(data => {
          this.isError = false;
          this.isLoading = false;
          this.$router.push({
            name: "forum-id",
            params: { id: data.post_id }
          });
        })
        .catch(e => {
          this.isError = true;
          this.isLoading = false;
          console.error(e);
        });
    }
  },
  mounted() {
    this.post.name = localStorage.getItem("user") || "";
  }
};
</script>

<style scoped>
input,
textarea {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #dbdcff;
  padding: 0.5em;
  outline: 0;
  display: block;
  font-family: serif;
  font-size: 16px;
}
textarea {
  width: calc(100% - 2em);
  height: 6em;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.parent {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1em;
}
.child {
  width: 100%;
}
</style>
