<template>
	<div>
		<div class="parent">
			<div class="left child">{{ data.name }} </div>
			<div class="center child">{{ localizedTimestamp }} </div>
			<div class="right child">#{{ data.post_id }} </div>
		</div>
		<div class="post" v-html="bbcodePost"></div>
		<hr class="line">
	</div>
</template>

<script>
import { DateTime } from 'luxon';
import bbcode from 'js-bbcode-parser';

export default {
    props: ['data'],
    methods: {
        formatDate(date) {
            let t1 = date.split(" ")
            let t2 = t1[0].split("/").map(x => parseInt(x));
            let t3 = t1[1].split(":").map(x => parseInt(x));
            let timestamp = DateTime.fromObject({
                'year': t2[0],
                'month': t2[1],
                'day': t2[2],
                'hour': t3[0],
                'minute': t3[1],
                'second': t3[2],
                'zone': 'utc'
            });
            return timestamp.toLocal().toFormat('yyyy-LL-dd TT');
        }
    },
    computed: {
        localizedTimestamp: function() {
            return this.formatDate(this.data.timestamp);
        },
        bbcodePost: function() {
            let sanitizedData = this?.data?.data?.replaceAll('<', '&lt;')?.replaceAll('>', '&gt;');
            let codes = {
                '\\[b\\](.+)\\[/b\\]': '<strong>$1</strong>',
                '\\[i\\](.+)\\[/i\\]': '<em>$1</em>',
                '\\[u\\](.+)\\[/u\\]': '<u>$1</u>',
                '\\[url\\](.+)\\[/url\\]': '<a href="$1">$1</a>',
                '\\[url=(.+)\\](.+)\\[/url\\]': '<a href="$1">$2</a>',
                '\\[ascii\\]([^]*)\\[/ascii\\]': '<pre>$1</pre>',
                '\\[code\\]([^]*)\\[/code\\]': '<pre>$1</pre>',
                '(^|\\s)(http(s?)://[^\\s]*[^\\s.,!])': '$1<a href="$2">$2</a>'
            }
            bbcode.create(codes, {});
            return bbcode.parse(sanitizedData);
        }
    }
}
</script>

<style scoped>
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.parent {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 1em;
}
.child {
	width: 100%;
}
a, a:focus, a:hover {
	text-decoration: none;
}
.post {
	overflow: auto;
	white-space: pre-wrap;
}
.line {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #dbdcff;
	margin: 1em 0;
	padding: 0;
}
.signature {
	font-weight: bold;
}
</style>
