<template>
<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Author</th>
      <th>Created</th>
      <th>Latest Post</th>
      <th>Replies</th>
    </tr>
  </thead>
  <tbody>
    <ThreadRow v-for="thread in data" :key="thread.post_id" :data="thread"></ThreadRow>
  </tbody>
</table>
</template>

<script>
import ThreadRow from '~/components/ThreadRow.vue'

export default {
    props: ['data'],
    components: {
        ThreadRow
    }
}
</script>

<style scoped>
a, a:focus, a:hover {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

td, th {
    padding: 6px;
    border-bottom: 1px solid #dbdcff;
    text-align: left;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { 
        border: 1px solid #dbdcff; 
        margin-bottom: 0.5em;
    }
    
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #dbdcff;
        position: relative;
        padding-left: 50%;
    }
    
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    
    td:nth-of-type(1):before { content: "Subject"; }
    td:nth-of-type(2):before { content: "Author"; }
    td:nth-of-type(3):before { content: "Created"; }
    td:nth-of-type(4):before { content: "Latest Post"; }
    td:nth-of-type(5):before { content: "Replies"; }
}
</style>
