<template>
<tr>
  <td><router-link :to="{ name: 'forum-id', params: { id: data.post_id }}">{{ data.subject }}</router-link></td>
  <td>{{ data.name }}</td>
  <td>{{ localizedTimestamp }}</td>
  <td>{{ localizedBumptime }}</td>
  <td>{{ data.replycount }}</td>
</tr>
</template>

<script>
import { DateTime } from 'luxon';

export default {
    props: ['data'],
    methods: {
        formatDate(date) {
            let t1 = date.split(" ")
            let t2 = t1[0].split("/").map(x => parseInt(x));
            let t3 = t1[1].split(":").map(x => parseInt(x));
            let timestamp = DateTime.fromObject({
                'year': t2[0],
                'month': t2[1],
                'day': t2[2],
                'hour': t3[0],
                'minute': t3[1],
                'second': t3[2],
                'zone': 'utc'
            });
            return timestamp.toLocal().toFormat('yyyy-LL-dd TT');
        }
    },
    computed: {
        localizedTimestamp: function() {
            return this.formatDate(this.data.timestamp);
        },
        localizedBumptime: function() {
            return this.formatDate(this.data.bumptime);
        }
    }
}
</script>

<style scoped>
a, a:focus, a:hover {
    text-decoration: none;
}

td, th {
    padding: 6px;
    border-bottom: 1px solid #dbdcff;
    text-align: left;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    tr { 
        border: 1px solid #dbdcff; 
        margin-bottom: 0.5em;
    }
    
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #dbdcff;
        position: relative;
        padding-left: 50%;
    }
    
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    
    td:nth-of-type(1):before { content: "Subject"; }
    td:nth-of-type(2):before { content: "Author"; }
    td:nth-of-type(3):before { content: "Created"; }
    td:nth-of-type(4):before { content: "Latest Post"; }
    td:nth-of-type(5):before { content: "Replies"; }
}
</style>
