<template>
<div class="main">
  <style>
  html {
    font-family: 'Noto Serif', serif;
  }
  </style>
  <h1><router-link :to="{ name: 'forum' }">／(･ × ･)＼</router-link></h1>
  <hr>
  <h2>New Thread</h2>
  <NewThread></NewThread>
  <Footer></Footer>
</div>
</template>

<script>
import NewThread from '~/components/NewThread.vue'
import Footer from '~/components/Footer.vue'

export default {
    components: {
        NewThread,
        Footer
    },
    head() {
        return {
            title: "／(･ × ･)＼ - new thread",
            link: [
                { rel: 'icon', type: 'image/x-icon', href: "/favicon.ico?v=" + process.env.VERSION },
                { rel: 'stylesheet', href: "https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" }
            ]
        }
    }
}
</script>

<style scoped>
</style>
